body {
    background-image: url(../Assets/MyWebsite/website-background.jpg);
    background-size: cover;
}

.ori-fullsize {
    height: 100vh;
    width: 100vw;
}

.ori-body {
    height: calc(100% - 60px);
    margin-top: 0;
    overflow: auto;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
