.ori-card {
    margin: 0 1rem 2rem 1rem;
    width: 290px;
    height: 500px;
    border-radius: 1rem;
    background-image: url(../Assets/MyWebsite/vertical-star-color.jpg);
    background-size: cover;
    overflow-y: auto;
	display: flex;
	align-items: flex-start;
    align-items: center;
	flex-direction: column;
}

.ori-card h2 {
    width: 100%;
    height: 15%;
    color: white;
    background: rgba(192, 81, 81, 0.5);
    text-align: center;
    padding: 0;
    margin: 0;
    margin-bottom: 0.5rem;
    
}

.ori-card-cover {
	max-height: 250px;
	max-width: 250px;
	border-radius: 1rem;
    border: solid black 1px;
	/* object-fit: cover; */
}

.ori-card p {
    text-align: center;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}